* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    width: 100%;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}

@media only screen and (max-width: 448px) {
    .wrapper-list {
        margin-top: 20px;
    }

    .wrapper-item {
        margin-left: auto;
        margin-right: auto;
    }

}

@media (max-width: 768px) and (min-width: 447px) {
    .wrapper-list {
        margin-top: 50px;
    }

    .wrapper-item {
        width: 500px;
        margin-left: auto;
        margin-right: auto;

    }
}

.wrapper-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    justify-content: space-between;
}

.wrapper-item {
    width: 250px;
    background-color: aliceblue;
    border-radius: 5px;
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.d-flex {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.wrapper-item__heading3 {
    margin-right: 5px;
}

.wrapper-item__span {
    color: green;
}

.wrapper-item__heading1 {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.36px;
    margin-bottom: 15px;
}

.wrapper-item__hour {
    margin-right: 50px;
}

.wrapper-hour__text {
    font-size: 10px;
    margin-bottom: 5px;
}

.wrapper-hour__heading {
    font-size: 20px;
}

.wrapper__span {
    display: inline-block;
    width: 220px;
    border-bottom: 2px solid gainsboro;
    margin-bottom: 8px;
}

.wrapper-money__heading {
    font-size: 24px;
}